<h3> Login Page!</h3>

<form autocomplete="off" action="/login" method="POST">
    <p><label for="username">Username</label>
    <input type="text" name="username" id="username"></p>
    <p><label for="password">Password</label>
    <input type="password" name="password" id="password"></p>
    <input type="submit" value="Login">
    <p> Not a member? Then <a href="/signup">Sign up!</a></p>
   <% if @failed %>
        <p class="danger">Something went wrong. Enter again, please.</p>
    <% end %>
</form>