<h3> Sign Up! </h3>

<form autocomplete="off" action="/signup" method="POST">
    <p><label for="name">Name (first, last): </label>
    <input type="text" name="name" id="name"></p>
    
    <p><label for="username">Username: </label>
    <input type="text" name="username" id="username"></p>
    
    <p><label for="password">Password: </label>
    <input type="password" name="password" id="password"></p>
    
    <input type="submit" value="Sign Up">
</form>